:host ::ng-deep .p-datatable-tbody > tr {
  height: 30px; /* Ajusta esta altura según sea necesario */
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  padding: 5px 10px; /* Ajusta el padding según sea necesario */
}

:host ::ng-deep .p-datatable-tbody > tr > td > button.custom-button {
  margin-right: 5px; /* Ajusta el margen de los botones si es necesario */
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.add-button {
  margin-left: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
  padding: 2rem;
}

button[pButton] {
  background-color: #25A35A;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

button[pButton]:hover {
  background-color: #27ae60;
}

input[pInputText] {
  border: 1px solid #2ecc71;
  border-radius: 4px;
  padding: 5px 10px;
}

input[pInputText]:focus {
  border-color: #27ae60;
  outline: none;
}

.p-iconField {
  display: flex;
  align-items: center;
}

.p-iconField i {
  color: #2ecc71;
  margin-right: 5px;
}

.p-inputIcon {
  display: flex;
  align-items: center;
}

.p-button-info {
  background-color: #3498db;
  border-color: #3498db;
}

.p-button-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.status-label {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}

.centerStatus{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Ajusta la altura si es necesario */
}

.status-available {
  background-color: #2ecc71;
  color: #fff;
}

.status-unavailable {
  background-color: #e74c3c;
  color: #fff;
}

.modify-button {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.modify-button:hover {
  background-color: #16a085;
}

.delete-button {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.delete-button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-button {
    margin-left: 0;
    margin-top: 10px;
  }

  .card {
    padding: 1rem;
  }
}
