<div class="card">
  <div class="header-section flex flex-row-reverse flex-wrap">
    <div class="add-button pb-2">
      <button *ngIf="showAddButton" (click)="onAdd()" pButton pRipple type="button" icon="pi pi-plus"
        label="Agregar" class="px-6 py-3"></button>
    </div>
    <p-iconField iconPosition="right" class="pb-2">
      <p-inputIcon>
        <i class="pi pi-search"></i>
      </p-inputIcon>
      <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search"  class="px-6 py-3"/>
    </p-iconField>
  </div>

  <p-table #dt2 [value]="data" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="rowsPerPageOptions"
    [sortOrder]="-1" [loading]="loading" [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="globalFilterFields">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
          {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="showActions" style="width: 15%">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.pipe; else noPipe">
            {{ product[col.field] | dynamicPipe: col.pipe: col.pipeArgs }}
          </ng-container>
          <ng-template #noPipe>
            <ng-container *ngIf="col.field === 'status'">

              <span class="status-label" [ngClass]="{'status-available': product[col.field] === 'A', 'status-unavailable': product[col.field] != 'A'}">
                  {{ product[col.field] === 'A' ? 'Disponible' : 'No disponible' }}
                </span>

            </ng-container>
            <ng-container *ngIf="col.field !== 'status'">
              {{ product[col.field] }}
            </ng-container>
          </ng-template>
        </td>
        <td *ngIf="showActions">
          <button *ngIf="canModify" (click)="onModify(product)" pButton pRipple type="button" icon="pi pi-pencil"
            class="custom-button modify-button"></button>
          <button *ngIf="canDelete" (click)="onDelete(product)" pButton pRipple type="button" icon="pi pi-trash"
            class="custom-button delete-button"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + 1">No products found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
