<div class="container">
    <div class="form-container">
      <h2>Editar Usuario</h2>
  
      <p-floatLabel class="form-field">
        <input pInputText id="username" [(ngModel)]="value1" />
        <label for="username">Usuario</label>
      </p-floatLabel>
  
      <p-floatLabel class="form-field">
        <p-password [(ngModel)]="value2" [feedback]="false" />
        <label for="password">Contraseña</label>
      </p-floatLabel>
  
      <p-dropdown class="form-field" [options]="roles" [(ngModel)]="selectedRol" optionLabel="name"
        placeholder="Selecciona un rol">
      </p-dropdown>
  
      <p-floatLabel class="form-field">
        <input pInputText id="cedula" [(ngModel)]="value3" (keypress)="validateNumberInput($event)" />
        <label for="cedula">Cédula</label>
      </p-floatLabel>
  
      <p-floatLabel class="form-field">
        <input pInputText id="nombre" [(ngModel)]="value4" />
        <label for="nombre">Nombre</label>
      </p-floatLabel>
  
      <p-floatLabel class="form-field">
        <input pInputText id="apellido" [(ngModel)]="value5" />
        <label for="">Apellido</label>
      </p-floatLabel>
  
      <a routerLink="/" class="p-button form-field">
        Editar
      </a>
    </div>
  </div>