<div class="user-list-container">
  <div class="shear-add flex flex-row-reverse flex-wrap items-center">
    <div class="bt-agg">
      <button
        (click)="onAdd()"
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        label="Agregar"
      ></button>
    </div>

    <p-inputGroup class="input-group-small">
      <input type="text" [(ngModel)]="searchTerm" pInputText placeholder="buscar usuario" class="input-small"/>
      <button
        type="button"
        pButton
        icon="pi pi-search"
        (click)="onSearch()"
      ></button>
    </p-inputGroup>
</div>
  <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.nombre }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            pTooltip="Editar"
            tooltipPosition="top"
            styleClass="p-button-sm"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            pTooltip="Eliminar"
            tooltipPosition="top"
            (click)="delete($event, user.id)"
            styleClass="p-button-sm"
            severity="danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-paginator
    [rows]="limit"
    [totalRecords]="total"
    (onPageChange)="onPageChange($event)"
    [first]="first"
  ></p-paginator>
</div>
