<div class="card">
  <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>N</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td></td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.role?.name }}</td>
        <td>
            <p-button
              icon="pi pi-pencil"
              pTooltip="Editar"
              tooltipPosition="top"
              styleClass="p-button-sm"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              pTooltip="Eliminar"
              tooltipPosition="top"
              styleClass="p-button-sm"
              severity="danger"
            ></p-button>
          </td>
      </tr>
    </ng-template>
  </p-table>
</div>
